<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">
      Apresentação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <div class="content-wrapper">
    <h2>Pokédex Interativa</h2>
    <p>Bem-vindo(a) ao aplicativo Pokédex Interativa,
      que lhe proporcionará uma forma simples, 
      rápida e envolvente de explorar o universo dessa franquia tão amada.
    </p>

    <ion-button color="medium" routerLink="/lista-pokemon">
      Ir a Lista
    </ion-button>
    <ion-button color="warning" routerLink="/sobre">
      Saiba Mais
    </ion-button>
  </div>
  </ion-content>
