.home-content {
  --background: linear-gradient(to bottom, #f0f0f0, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .content-wrapper {
    padding: 20px;
    max-width: 500px;
    margin: auto;
  }

  .logo {
    width: 180px;
    margin-bottom: 20px;
  }

  h2 {
    color: #e60012; // Cor vermelha da Pokébola
    font-weight: bold;
  }

  p {
    font-size: 1.1em;
    margin-bottom: 24px;
    color: #333;
  }

  ion-button {
    margin-top: 10px;
  }
}
